.section-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10% 0;
}

.section-error h1 {
    color: #FF0101;
}

.section-error p {
    margin: 0;
}

.section-error a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    display: inline-block;
    position: relative;
}

.section-error a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FF0101;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.section-error a:hover {
    font-weight: bold;
    color: #FF0101;
}

.section-error a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
